@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

img{
  max-width: 100%;
  max-height: 100%;
}

* {
  margin: 0;
  font-family: "Quicksand";
}
body{
  background-color:#212529;
}
p{
  font-size: 18px;
}
/* Navigation bar */
h1 a{
  text-decoration: none;
  color: #b90e41;
}
h1 a:hover{
  color: #b90e41;
}
.navBar{
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
}
.navBar ul{
  background-color: darkviolet;
}
.navBar li{
  background-color: darkviolet;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem;
}
.navBar li a{
  text-decoration: none;
  background-color: darkviolet;
  color: white;
}
.navBar li a:hover{
  border-bottom: 2px solid yellow;
}
.currentPage{
  border-bottom: 2px solid yellow;
}

.sticky{
  z-index: 1000;
  position: sticky;
  top: 0;
}

/* Feature intro */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; /* make all the cards to be the same height with each other */
}

section .card {
  width: calc(100% / 3 - 30px);
  text-align: center;
  list-style: none;
  background-color: #fff;
  padding: 40px 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

section .card img {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
  align-self: center;
}

.alternate-section {
  background-color: #edebe8;
}

section .card p {
  margin-top: 5px;
  flex-grow: 1;
}

#feature-blog {
  background-image: url(./images/feature-blog.jpeg);
  background-size: cover;
  background-position: center;
}

#feature-resources {
  background-image: url(./images/feature-resources.jpg);
  background-size: cover;
  background-position: center;
}

#feature-sharings {
  background-image: url(./images/sessions.jpg);
  background-size: cover;
  background-position: center;
}

/* Blogs */
.card-style{
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.card-img{
    overflow: hidden;
}
.card-img img{
    transition: all 0.5s ease;
}
.card-img:hover img{
    transform: scale(1.2);
}

/* Resources */
.centered-images{
  display: block;
  margin: auto;
}

.problem{
  background-color: white;
  padding: 1.5rem;
  margin: 15px;
  border-radius: 8px;
}
.problem:hover{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.problem a{
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
}
.problem h3{
  color:teal;
}

/* Sharings */
.session{
  margin: 10px 0;
  transition: all 0.3s ease;
}
.session:hover{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.session img{
  height: 250px;
  object-fit: cover;
}
.heading h2{
    margin: 0px 9%;
    padding-bottom: 10px;
    border-bottom: solid 4px orange;
}

/* About */
.profile img{
  width: 200px;
}
.profile a{
  text-decoration:none;
  color: black;
}
.profile .icon{
  width: 20px;
}

.section-margin{
  margin-top: 40px;
  margin-bottom: 40px;
}

#banner-about {
  color: black;
  background-image: url(./images/about-us-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 20px;
}

.vision {
  color: black;
  background-image: url(./images/values-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 150px;
}

.vision p{
  margin-right: 50%;  
}

/* Sign Up */
input[type=email], input[type=password], input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

button{
  font-size: large;
  background-color: blue;
  color: white;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover{
  opacity: 1;
}